<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mukuljoshi.cityguide">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Comman.LoginSignup.ForgotPasswordSuccessMessageActivity" />
        <activity android:name=".Comman.LoginSignup.SetNewPasswordAvticity" />
        <activity android:name=".Comman.LoginSignup.MackSelectionActivity" />
        <activity android:name=".Comman.LoginSignup.ForgotPasswordActivity" />
        <activity android:name=".Comman.LoginSignup.VerifyOTPActivity" />
        <activity android:name=".Comman.LoginSignup.SignUpThiredActivity" />
        <activity android:name=".Comman.LoginSignup.SignUpSecondActivity" />
        <activity android:name=".Comman.LoginSignup.SignUpActivity" />
        <activity android:name=".Comman.LoginSignup.LoginActivity" />
        <activity android:name=".Comman.LoginSignup.RetailerStartUpScreen" />
        <activity android:name=".User.AllCategories" />
        <activity
            android:name=".Comman.OnBoarding"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".User.UserDashboard" />
        <activity
            android:name=".Comman.SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>